@model Repozytorium.Models.Ogloszenie

@{
    ViewBag.Tytul = "Szczegły ogłoszenia" + Model.Id;
    ViewBag.Opis = "Szczegóły ogłoszenia" + Model.Id + "Opis do Google";
    ViewBag.SlowaKluczowe = "Ogłoszenie." + Model.Id + ".szczegóły";

}

<h2>Details</h2>

<div>
    <h4>Ogloszenie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Id autora:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UzytkownikId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tresc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tresc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tytul)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tytul)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataDodania)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataDodania)
        </dd>

    </dl>
</div>
<p>
    @if (User.Identity.IsAuthenticated || User.IsInRole("Admin") || User.IsInRole("Pracownik"))
    {
        @Html.ActionLink("Edytuj", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
    }
    <br />
    @Html.ActionLink("Wróć", "Index", null, new { @class = "btn btn-warning" })
</p>
