<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Tytul - My ASP.NET Application</title>
    <meta name="description" content="@ViewBag.Opis" />
    <meta name="keywords" content="@ViewBag.SlowaKluczowe" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-expand-md">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("OGL", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Strona główna", "Index", "Home")</li>
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Ogłoszenia <span class="caret"></span>                        
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Lista ogłoszeń", "Index","Ogloszenie")</li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li>@Html.ActionLink("Dodaj ogłoszenie", "Create","Ogloszenie")</li>
                            }
                            <li class="dropdown-divider"></li>
                            <li>@Html.ActionLink("Lista jako PartialView", "Partial", "Ogloszenie")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Moja aplikacja ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
